@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Google Sans;
}
#header{
    top: 0;
    background-color: aquamarine;
    text-align: center;
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.menu_opt{
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.menu_opt:hover{
    transform: scale(1.05);
    filter: brightness(95%);
}

#content{
    flex: 1;
}

#footer{
    position: absolute;
    bottom: 0;
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contact_title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.contact{
    transition: 0.3s;
    margin-bottom: 10px;
}
.contact:hover{
    filter: brightness(60%);
    transform: scale(1.05);
}
.contact_img{
    height: 40px;
    width: 40px;
}

a{
    text-decoration: none;
    color: #000;
}